<mat-card class="wrapper mx-auto mt-5">

    <mat-card-title class="mx-auto mt-3">Log in</mat-card-title>

    <mat-form-field class="w-75 mt-5 mx-auto">
        <mat-label>Email address</mat-label>
        <input [formControl]="loginForm.controls.email" matInput />
    </mat-form-field>

    <mat-form-field class="w-75 mx-auto">
        <mat-label>Password</mat-label>
        <input [formControl]="loginForm.controls.password" matInput [type]="hide ? 'password' : 'text'"/>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-card-actions class="d-flex flex-column justify-content-center mb-3">
        <button mat-flat-button color="primary" (click)="login()">Log in</button>
        <div class="d-flex w-100 justify-content-between ps-3 pe-3">
            <a href="/auth/register">Create account</a>
        </div>
    </mat-card-actions>
</mat-card>