<script src="html2pdf.bundle.min.js"></script>
<ng-container *ngIf="currentUser$ | async as currentUser">
    <mat-card class="wrapper">
        <div class="tabs">
            <button class="tab" mat-flat-button (click)="selectTab(1)" [class.is-active]="selectedTab === 1">
                Personal information
            </button>
            <button class="tab" mat-flat-button (click)="selectTab(2)" [class.is-active]="selectedTab === 2">
                Personal files    
            </button>
            <button class="tab" mat-flat-button (click)="selectTab(3)" [class.is-active]="selectedTab === 3">
                My images
            </button>
        </div>
        <div class="content">
            <div class="first-content" *ngIf="selectedTab === 1">
                <div class="profile-wrapper">
                    <div class="image-wrapper">
                        <img [src]="avatar"/>
                        <!-- <input id="upload-image" name="imageUrl" type="file" accept="image/*" (change)="imageUpload($event)" /> -->
                        <input style="display:none" id="upload-image" type="file" accept="image/*" (change)="imageUpload($event)">
                        <button mat-icon-button type="button" class="upload-button" onclick="document.getElementById('upload-image').click()">
                            <mat-icon>upload</mat-icon>
                        </button>
                    </div>
                    <span class="name">{{currentUser.uname}}</span>
                </div>
                <div class="mt-5 data-wrapper">
                    <mat-form-field appearance="outline">
                        <mat-label>Email address</mat-label>
                        <input matInput [formControl]="emailControl"/>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput [formControl]="usernameControl"/>
                    </mat-form-field>
                    
                    <button mat-flat-button color="primary" (click)="updateUserData(currentUser.id)" class="save-button">Save</button>
                    <hr>
                    <mat-form-field appearance="outline">
                        <mat-label>Old password</mat-label>
                        <input matInput [formControl]="oldpasswordControl" [type]="hideOld ? 'password' : 'text'"/>
                        <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>New password</mat-label>
                        <input matInput [formControl]="newpasswordControl" [type]="hideNew ? 'password' : 'text'"/>
                        <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>New password again</mat-label>
                        <input matInput [formControl]="newpasswordagainControl" [type]="hideNewAgain ? 'password' : 'text'"/>
                        <mat-icon matSuffix (click)="hideNewAgain = !hideNewAgain">{{hideNewAgain ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="newpasswordagainControl.hasError('passwordMismatch')">Password mismatch!</mat-error>
                    </mat-form-field>
                    <button mat-flat-button color="primary" class="save-button" (click)="changePassword(currentUser.id)">Save password</button>
                </div>
            </div>
            <div class="second-content" *ngIf="selectedTab === 2">
                <h2>My documents</h2>
                <div class="document-gallery">
                    <mat-card *ngFor="let document of documents$ | async" class="card" (click)="openDocument(document.id, $event)">
                        <div #content [innerHTML]="document.content"></div>
                        <span class="actions">
                            <mat-icon color="primary" (click)="openDocument(document.id, $event)">visibility</mat-icon>
                            <mat-icon color="primary" (click)="editDocument(document.id, $event)">edit</mat-icon>
                            <mat-icon color="primary" (click)="downloadDocument(content, $event)">download</mat-icon>
                        </span>
                    </mat-card>
                </div>
            </div>
            <div class="third-content" *ngIf="selectedTab === 3">
                <h2>My images</h2>
                <div class="image-gallery">
                    <mat-card *ngFor="let image of images$ | async" class="card" (click)="openImage(image.id, $event)">
                        <img mat-card-image [src]="image.imageData" alt="Image">
                        <span class="actions">
                            <mat-icon color="primary" (click)="openImage(image.id, $event)">visibility</mat-icon>
                            <mat-icon color="primary" (click)="editImage(image.id, $event)">edit</mat-icon>
                            <mat-icon color="primary" (click)="downloadImage(image.imageData, $event)">download</mat-icon>
                        </span>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card>
</ng-container>