.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use the full height of the viewport */
}

.navbar {
    color: white;
    padding: 0;
    height: 50px;
    app-navbar {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid gray;
    }
}

.content {
    flex-grow: 1; /* Let this div grow to fill the remaining space */
    overflow: auto; /* Add scrolling if the content overflows */
    padding: 20px;
    background-color: rgb(29, 48, 67);; /* Just for visualization */
}