.navbar {
    z-index: 5;
    background-color: #49cee4 !important;
}
.nav-item {
    width: 200px;

    button {
        width: 100%;
    }
}
.navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.profile {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: unset !important;
    justify-content: flex-start !important;
    ::ng-deep .mdc-button__label {
        display: flex;
        gap: 5px;
        align-items: center;
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}