<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mt-2 mt-sm-0 mb-lg-0">
          <li class="nav-item">
            <button mat-flat-button (click)="navigateTo('img-editor')" class="nav-button me-2">
                <mat-icon>image</mat-icon>
                <span>Image editor</span>
            </button>
          </li>
          <li class="nav-item">
            <button mat-flat-button (click)="navigateTo('doc-editor')" class="nav-button me-2">
                <mat-icon>edit_document</mat-icon>
                <span>Document editor</span>
            </button>
          </li>
        </ul>
      </div>
      <button *ngIf="isLoggedIn$ | async; else loginButton" mat-flat-button (click)="navigateTo('profile')" class="nav-button profile me-2">
        <mat-icon *ngIf="!avatar">account_circle</mat-icon>
        <img *ngIf="avatar" [src]="avatar"/>
        <ng-container *ngIf="currentUser$ | async as currentUser">
            @if(currentUser) {
                <span>{{currentUser.uname}}</span>
            }
            @else {
                <span>Teszt Profil</span>
            }
        </ng-container>
      </button>
      <ng-template #loginButton>
          <button mat-flat-button (click)="navigateTo('auth/login')" class="nav-button profile me-2">
              <mat-icon>account_circle</mat-icon>
              <span>Log in</span>
          </button>
      </ng-template>
    </div>
  </nav>